<h2><%= l(:portfolio_management_title) %></h2>
<div id="projects-index">

</br>

Listagem de Nome do Campo Personalizado:
<%= RedminePortfolioManagement::Redmine::portfolio_management_attribute::name %>

</br>
Listagem dos Portfólios cadastrados
<%= RedminePortfolioManagement::Redmine::list_portfolio_values %>


</br>
Listagem dos Projetos cadastrados
<%= RedminePortfolioManagement::Redmine::list_projects_portfolio(1) %>



</div>
